
.content{
    height: 80vh;
    background-image: url("https://source.unsplash.com/random/300x300?v1");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;

}

.info{
    display: grid;
    grid-row: 5 / span 1;
    grid-column: 4 / span 7;
    grid-gap: 10px;
}

.infoTitle{
    font-size: 40px;
    color: wheat;
    font-weight: bold;
    padding-bottom: 20px;
}

.infoText{
    color: red;
    font-size: 20px;
    text-align: justify;
}

.infoButtons{
    display: grid;
    grid-row: 6 / span 1;
    grid-column: 4 / span 4;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.infoButtons button{
    font-size: 20px;
    border: 2px solid black;

}

.redButton{
    background: red;

}

.ghostButton{
    background: none;
}