.footer {
    background: #282c34;
    height: 14vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;


}

.footer button {
    margin: 15px;
    color: red;
    border: none;
    background: none;
}