.navbar{
    height: 10vh;
    background: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "left right";
    justify-content: space-between;
}

.logo{
    width: 80px;
    height: 50px;
}

.navbar.h2{
    display: flex;
}

.navbar.left{
    display: block;
    grid-area: left;
    justify-content: space-around;
}

.navbar.right{
    display: flex;
    grid-area: right;
    justify-items: flex-end;
}
