.navbar{
    height: 8vh;
    background: wheat;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "left right";
    align-items: center;
}

.logo{
    width: 110px;
    height: 50px;
}

.navbar.h2{
    display: flex;
}

.left{
    display: grid;
    grid-area: left;
    grid-gap: 10px;
    grid-auto-flow: column;
}

.right{
    display: grid;
        grid-auto-flow: column;

    grid-gap: 10px;
    margin-left: auto;
    grid-area: right;
}


.left button{

    background: none;
    color: black;
    font-size: 20px;
}